@import "reset"

body
  background -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fbf0db), color-stop(0.5, #fde9c2), color-stop(1.0, #ffdb96))
  height 1024px
  color white
  margin 0
  padding 0
  font-family Helvetica
  
.bodyStyle
  -webkit-touch-callout none
  -webkit-text-size-adjust none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fbf0db), color-stop(0.5, #fde9c2), color-stop(1.0, #ffdb96))

.backgroundImg
  position absolute

.backgroundImgDiv
  position absolute
  opacity 0
  -webkit-transition-property -webkit-transform opacity
  -webkit-transition-duration 5s
  -webkit-transition-timing-function ease-in-out  

.loginButton
  position absolute
  left 34%
  top 75%
  height 50px
  width 250px
  font-size 30px
  color White
  background-color Black

.footer
  position absolute
  left 34%
  top 91%
  font-size11px
  color#543f20
  opacity 0
  -webkit-transform-style preserve-3d
  -webkit-transform translate3d(0, 0, 0)
  -webkit-transition-property -webkit-transform opacity
  -webkit-transition-duration 5s
  -webkit-transition-timing-function ease-in-out

.footer img
  position absolute
  left -40px
  top -55px
  opacity 1
  height 140px
  -webkit-transform-style preserve-3d
  -webkit-transform translate3d(0, 0, 0)
  -webkit-transition-property -webkit-transform
  -webkit-transition-duration 0.4s
  -webkit-transition-timing-function ease-out

.logo
  position absolute
  left 80%
  top 4%
  z-index 90
  -webkit-transform-style preserve-3d
  -webkit-transform translate3d(0, 0, 0)
  opacity 0
  -webkit-transition-property -webkit-transform opacity
  -webkit-transition-duration 5s
  -webkit-transition-timing-function ease-in-out  

.logo img
  width 100px
  height 112px

.descriptionDiv
  position absolute
  text-align center
  top 70%
  width 100%
  color black

.bottomDiv
  opacity 0
  -webkit-transition-property -webkit-transform opacity
  -webkit-transition-duration 5s
  -webkit-transition-timing-function ease-in-out